p{
    color: #66BFBF;
    font-size: 16px;
}

button{
    background-color: #66BFBF;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 12px;
    padding: 5px;
    padding-left: 10%;
    padding-right: 10%;
}

.mytrips-profile-title{
    color: #FF0063;
    text-decoration: none;
    
}

.rating-star{
    height: 20px;
}

.mytrips-profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-container-mytrips-item{
    margin-left: 100px;
}