h4{
    color: #FF0063;
    padding-top: 0;

}

.trip-container-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.by-username{
    color: #66BFBF;
    font-size: 12px;
    padding-left: 10px;
}

.trip-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    max-width: 80%;

}

.trip-container-title-left{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.trip-container-title-right{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.favs-number{
    color: #FF0063;
    font-size: 15px;
}

.trip-location{
    color: rgb(71, 71, 71);
    margin-bottom: 50px;
}

#trip-description{
    color: rgb(71, 71, 71);
    margin-bottom: 30px;
}

.trip-container-left{
    width: 70%;
    margin-right: 10%;
}

.trip-container-right{
    margin-bottom: 50px;
}


/* .trip-container-right-img{


} */

.trip-img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 20px 0;
}


.trip-see-more{
    color: #66BFBF;
    text-decoration: none;
    cursor: pointer;

}

hr{
    background-color: rgb(177, 176, 176);
    border: none;
    height: 1px;

}

.rating-star{
    height: 50px;
}

#heartPic{
    height: 50px;
}

hr{
    width: auto;
    max-width: 1200px;
}

@media only screen and (max-width: 800px) {
    
    .trip-container {
        display: flex;
        flex-direction: column;
    }

    .trip-container-title{
        display: flex;
        flex-direction: column;
    }

    .trip-container-title-left{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    

}