.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-top-auth-container{
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 50px;
}


.nav-top-auth-items-link{
  color: #FF0063;
  text-decoration: none;
  padding-left: 20px;
}

.nav-left-container{
  display: flex;
  flex-direction: column;
}

.nav-left-items-link{
  color: #FF0063;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 20px;
}

.nav-logo{
  margin: -100px;
  margin-top: -150px;
  margin-bottom: -50px;
}

.element-container{
  display: flex;
  margin-left: 500px;
  margin-top: -400px;
}

.nav-add-trip{
  width: 100px;
  background-color: #FF0063;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-left: 40px;
}

.footer{
  background-color: #FF0063;
  height: 100px;
  position: absolute;
  bottom: 0px;
}
