.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

 }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-top-auth-container{
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 50px;
  position: fixed;
  top:0px;
  right:0px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  padding-bottom: 20px;
  z-index: 2;

}

.nav-top-auth-items-link{
  color: #FF0063;
  text-decoration: none;
  margin: 20px 10px;
}

.nav-left-container{
  display: flex;
  flex-direction: column;
  width: 300px;
  position: fixed;
  top: 300px;
  left: 0;
  z-index: 4;
}


.nav-left-items-link{
  color: #FF0063;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 20px;
}

.nav-logo{
  /* margin: -100px;
  margin-top: -100px;
  margin-bottom: -50px; */
  height: 300px;
  width: 300px;
  position: fixed;
  top:0px;
  left:0px;
  z-index: 3;
}

.nav-add-trip{
  width: 150px;
  background-color: #FF0063;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-left: 40px;
  text-align: center;
}

.footer{
  background-color: #FF0063;
  height: 100px;
  position: absolute;
  bottom: 0px;
}

#emptyHeart {
  height: 20px;
  width: auto;
}

#heartPic {
  height: 20px;
  width: auto;
}

.alert{
  height: 3rem;
  color: white;
  width: 40%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert.success {
  background-color: #66BFBF;
}

.alert.error {
  background-color: #FF0063;
}

.app-all-containers{
  display: flex;
  justify-content:right;
  justify-content: space-evenly;
}

.element-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  position: absolute;
  top: 100px;
  left: 300px;
  z-index: 1;
}

.nav{
  text-align: right;
  height: 70px;
  line-height: 70px;
}

.menu{
  margin: 0;
  display: none;
}

label{
  margin: 0 80px 0 0;
  font-size: 26px;
  line-height: 50px;
  display: none;
}

#toggle{
  display: none;
}

@media only screen and (max-width: 600px) {
    
  .nav-logo{
      position: absolute;
      top:0px;
      left:0px;
      z-index: 1;
      width: 100px !important;
      height: 100px !important;
      /* margin-top: -30px;
      margin-left: -50px;  */
      background-color: white;
  }

  .nav-left-container{
    display: none;
  }

  .nav-top-auth-container{
    display: none;
  }

  label{
    display: block;
    cursor: pointer;
    background-color: white;
    position: fixed !important;
    top:0px;
    right:0px;
  }

  .menu{
    text-align: right;
    width: 100%; 
    display: none; 
    background-color: #FF0063;
    margin-top: 60px;
  }

  .nav-mobile-link{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 10px 0 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.578) ;
  
  }

  #toggle:checked + .menu{
    display: block;
  }

  .element-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 150px;
    left: 50px;
 
  }

  .app-all-containers{
    display: flex;
    justify-content:right;
  }

}